*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* shared style */
}
body{  
    background-color:white;
}
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    
}

.logo h2{
    font-size: 45px;
    font-weight: 900;

}
.color-orange{
    color: #FD6E04;
}

/* main style */
header{
    background-color: hsl(0, 6%, 73%);
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
     margin: 0px auto; 
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}